html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.site-container {
  width: 100%;
}

header {
  color: white;
  background-color: cadetblue;
  height: 3rem;
  display: flex;
  align-items: center;
}

h1 {
  display: none;
}

#white-logo {
  height: 1.5rem;
  padding-left: 2rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.menu {
  display: inline-block;
  padding-left: 40rem;
}

nav ul {
  display: none;
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 1rem 2rem;
}

h2 {
  background-image: url("../images/main-background.png");
  background-size: cover;
  height: 14rem;
  margin: 0;
}
